@model IEnumerable<KievGyms.Trainer>

@{
    ViewData["Title"] = "Trainers By Gyms";
}

<h1>Trainers of Gym @ViewBag.GymName</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Add new trainer", "Add", new {gymId = @ViewBag.GymId })
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerDateOfBirth.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym.GymName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.SpecializationName)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.TrainerId">Edit</a> <h>|</h>
                }
                <a asp-action="Details" asp-route-id="@item.TrainerId">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <h>|</h> <a asp-action="Delete" asp-route-id="@item.TrainerId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
