@model IEnumerable<KievGyms.District>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Create New District</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.DistrictId">Edit</a> <h>|</h>
                }
                <a asp-action="Details" asp-route-id="@item.DistrictId">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <h>|</h> <a asp-action="Delete" asp-route-id="@item.DistrictId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
